{% extends 'templates/default.twig' %}
{% block content %}
    <h1>Profile</h1>
    <ul>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" value="{{ auth.user.username }}">
            {% if flash.getMessage("errors").0.username %}
                {{ flash.getMessage("errors").0.username }}
            {% endif %}
            <input type="text" name="email" placeholder="E-Mail" value="{{ auth.user.email }}">
            {% if flash.getMessage("errors").0.email %}
                {{ flash.getMessage("errors").0.email }}
            {% endif %}
            {{ csrf.field | raw }}
            <button type="submit">Update</button>
        </form>
    </ul>
{% endblock %}
