<ul>
    <li><a href="{{ url_for("home") }}">Home</a></li>
{% if auth.check %}
    <p>Welcome, <b>{{ auth.user.username }}</b></p> 
    <li><a href="{{ url_for("auth.profile") }}">Profile</a></li>
    <ul>
        <li><a href="{{ url_for("auth.password") }}">Password</a></li>
    </ul>
    <li><a href="{{ url_for("auth.logout") }}">Logout</a></li>

{% else %}
    <li><a href="{{ url_for("auth.login") }}">Login</a></li>
    <li><a href="{{ url_for("auth.register") }}">Register</a></li>
{% endif %}
</ul>
